<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf3b3313c9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/app.css">
    <title>Boolzap</title>
</head>

<body class="debug" id="app">
    <div class="container">
        <div class="row">
           <div class="sidebar col">
            <div class="io-col col">
                <div class="img-io">
                    <img src="./img/avatar_io.jpg" alt="immagine" class="img-profile">
                </div>
                <ul class="icon-ul">
                    <li><a href="#"><i class="fa-solid fa-circle-notch icon-lightgray"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-message icon-lightgray"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-ellipsis-vertical icon-lightgray"></i></a></li>
                </ul>
            </div>
            <div class="notifiche-col col">
                <div class="icona-notifiche">
                    <i class="fa-solid fa-bell-slash icon-bell"></i>
                </div>
                <div class="testo">
                    <p class="text-notifiche"><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                    <p class="text-notifiche-lightgray"><a href="#">Attiva notifiche desktop</a></p>
                </div>
            </div>
            <div class="ricerca">
                <div class="icona-lente">
                    <span><i class="fa-solid fa-magnifying-glass icona-lente"></i></span>
                </div>
                
                <div class="cerca-col col">
                    <input type="search" placeholder="Cerca o inzia una nuova chat" class="input-search" v-model="inputSearch" @keyup.enter="ricercaContatto(inputSearch)"> 
                </div>
            </div>
            <div class="scroll">
                <div class="contatti-col col" v-for="(contact, i) in contacts">
                    <div v-if="this.contacts[i].name.includes(inputSearch)" class="avatar"  @click="currentIndex = i" >                   
                            <div class="avatar-img">
                                <img :src="contact.avatar" alt="avatar" class="img-profile">
                            </div>
                            <div class="avatar-p">
                                <p class="nome-contatto"><strong>{{contact.name}}</strong></p> <br>
                                <p class="contatti-sp">Lorem ipsum dolor sit amet.</p>
                                <span class="orario">16:10</span>
                            </div>                                                   
                    </div>
                    
                </div>
            </div>
            
          </div>

           <div class="chat">
            <div class="header-col">

                <div class="avatar-io" >
                    <div class="avatar-img" >
                        <img :src="contacts[currentIndex].avatar" alt="avatar" class="img-profile">
                    </div>
                    <div class="avatar-p">
                        <p class="nome-contatto"><strong>{{ contacts[currentIndex].name }}</strong></p> <br>
                        <p class="contatti-sp">Ultimo accesso oggi alle 16:17</p>
                    </div>
                </div>


                <ul class="icon-ul">
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass icon-lightgray"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-paperclip icon-lightgray"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-ellipsis-vertical icon-lightgray"></i></a></li>
                </ul>


            </div>
            <div class="main col" v-for="(el, i) in contacts[currentIndex].messages" :class="el.status === 'sent' ? 'msg-sent' : 'msg-recived'">
                <div>{{el.message}}
                    <span class="sent-time">{{el.date.slice(11,16)}}</span>
                </div>
                
            </div>
            <div class="footer-col">
                <div class="emoji"><a href="#"><i class="fa-regular fa-face-tired icon-gray"></i></a></div>
                <div class="text-input">
                    <input type="text" placeholder="Scrivi un messaggio" class="msg-input" v-model="inputMessage" @keyup.enter="addNewMessage(currentIndex)">
                </div>
                <div class="audio"><a href="#"><i class="fa-solid fa-microphone icon-gray"></i></a></div>
            </div>
           </div>
        </div>
    </div>

  
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>